name: Android CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name : Build debug APK
        run: ./gradlew assembleDebug

      - name: Upload debug APK
        uses: actions/artifact@v4
        with:
          name: debug-apk
          path: app/build/outputs/apk/debug/app-debug.apk